backoff==2.2.1
beautifulsoup4==4.12.3
dash==2.17.0
dash_bootstrap_components==1.6.0
langdetect==1.0.9
mage_ai==0.9.71
networkx==3.3
networkx==3.2.1
numpy==1.26.4
pandas==2.0.3
plotly==5.22.0
protobuf==5.27.1
python_box==7.1.1
redis==5.0.5
Requests==2.32.3
torch==2.2.2
tqdm==4.66.2
xmltodict==0.13.0
